:root {
  --green: rgb(220, 253, 189);
  --black: #131313;
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--black);
  text-align: center;
  margin: auto;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.website-wrapper {
  width: 100%;
}

table, th, td {
  border: 1px solid;
}